.line-heading {
  display: flex !important;
  width: 100%;
  align-items: center; }

.line-heading::before, .line-heading::after {
  content: '';
  background: gray;
  height: 1px;
  margin: .2em;
  flex: 2; }

.header {
  background: url("../img/nav1.jpeg");
  background-size: cover;
  height: 100vh;
  position: relative; }

.nav-side {
  position: fixed;
  background: #0A0F0D;
  width: 320px;
  height: 100%;
  right: 0;
  bottom: 0;
  transition: all .4s;
  display: none;
  padding: 2rem;
  z-index: 1; }
  .nav-side-close {
    padding: .5rem 1rem;
    color: #89023E; }
    .nav-side-close span {
      cursor: pointer; }

.nav-activator {
  position: fixed;
  top: 3rem;
  right: 2rem;
  color: white;
  background: black;
  padding: .5rem 1rem;
  cursor: pointer; }

.nav-dismiss {
  color: white; }

.nav-list {
  padding-top: 1.2rem; }
  .nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav-list-item {
    border-bottom: 2px solid rgba(48, 52, 63, 0.6);
    line-height: 2.5; }
  .nav-list-link {
    text-decoration: none; }
    .nav-list-link:visited {
      text-decoration: none; }
    .nav-list-link:hover, .nav-list-link:active {
      color: #30343F;
      text-decoration: none; }

.main-content {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh; }

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(200px, auto); }
  .portfolio-item {
    background: #89023E;
    color: #EAF2EF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10; }
    .portfolio-item.medium {
      grid-row: span 2;
      grid-column: span 2; }
    .portfolio-item.small {
      grid-row: span 1;
      grid-column: span 1; }
    .portfolio-item.large {
      grid-row: span 3;
      grid-column: span 3; }
    .portfolio-item.tall {
      grid-row: span 3;
      grid-column: span 2; }
    .portfolio-item.wide {
      grid-row: span 2;
      grid-column: span 3; }

.section-introduction {
  width: 100%;
  position: absolute;
  top: 30%; }

.intro {
  text-align: center; }
  .intro-title {
    color: #FFE6A7;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 2.2rem;
    line-height: 1.5; }
    .intro-title:after {
      content: ' ';
      width: 20%;
      height: 5px;
      display: block;
      margin: 1rem 0;
      background: #EAF2EF; }
  .intro-des {
    font-family: 'Roboto Slab', serif;
    color: #EAF2EF; }
  .intro-nav {
    transform: rotate(270deg);
    display: block;
    text-transform: uppercase;
    margin-top: 4rem;
    color: white;
    font-weight: 500;
    letter-spacing: 2px; }
  .intro-number {
    font-size: 4.4rem;
    color: #EAF2EF;
    font-weight: 600;
    letter-spacing: 5px;
    display: block;
    text-align: center; }
    .intro-number:after {
      content: ' ';
      display: block;
      margin: 0 auto;
      width: 4px;
      height: 5rem;
      background: #EAF2EF; }

.services-box {
  border-left: 4px solid rgba(234, 242, 239, 0.6);
  padding: 0 2rem;
  margin-top: 2rem;
  cursor: pointer; }
  .services-box i {
    color: #01295F; }
  .services-box:hover i {
    color: #89023E; }

.timeline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .timeline-title {
    font-size: 2.5rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    color: #CE0060;
    margin: 2rem 0;
    transform: rotate(15deg); }
    .timeline-title span {
      font-size: 3rem;
      position: relative;
      margin-right: 5rem;
      color: #30343F;
      display: inline-block; }
      .timeline-title span:after {
        content: ' ';
        position: absolute;
        display: inline-block;
        top: 50%;
        width: 5rem;
        height: 4px;
        background: #EAF2EF;
        margin: 0 auto;
        margin-left: .5rem; }
  .timeline-panel__date {
    font-size: 2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px; }
  .timeline-panel__title {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif; }
  .timeline-panel__des {
    color: #30343F; }
  .timeline-end {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #89023E;
    color: white;
    border: 10px solid #EAF2EF;
    position: relative; }
    .timeline-end p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600; }
  .timeline-img {
    position: relative; }
    .timeline-img img {
      border: 10px solid #EAF2EF;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      display: inline-block; }
    .timeline-img:after {
      content: ' ';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 10rem;
      left: 50%;
      display: flex;
      margin: 1rem 0;
      background: #EAF2EF;
      margin: 0 auto; }
