/*
0-600px:phone
600-900px:Tablet portrait
900-1200px:Tablet Landscape
[1200-1800] is where our normal styles apply
1800px +:Big desktop
*/
/*
$breakpoint arguement choices
-phone
-tab-part
-tab-land
-big-desktop
1em=16px

*/
@media (max-width: 33.75em) {
  html {
    font-size: 50%; } }

@media (max-width: 75em) {
  html {
    font-size: 87.5%; } }

@media (max-width: 60em) {
  html {
    font-size: 75%; } }

@media (min-width: 112.5em) {
  html {
    font-size: 75%; } }

.line-heading {
  display: flex !important;
  width: 100%;
  align-items: center; }

.line-heading::before, .line-heading::after {
  content: '';
  background: gray;
  height: 1px;
  margin: .2em;
  flex: 2; }

.heading {
  padding-top: 1rem; }
  .heading-main {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #3166AF; }
  .heading p {
    color: #30343F;
    font-size: 1.14rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px; }

.header {
  background: url("../img/nav1.jpeg");
  background-size: cover;
  height: 100vh;
  position: relative; }

.nav-side {
  position: fixed;
  background: #0A0F0D;
  width: 320px;
  height: 100%;
  right: 0;
  bottom: 0;
  transition: all .4s;
  display: none;
  padding: 2rem;
  z-index: 1; }
  .nav-side-close {
    padding: .5rem 1rem;
    color: #89023E; }
    .nav-side-close span {
      cursor: pointer; }

.nav-activator {
  position: fixed;
  top: 3rem;
  right: 2rem;
  color: white;
  background: black;
  padding: .5rem 1rem;
  cursor: pointer;
  z-index: 2; }

.nav-dismiss {
  color: white; }

.nav-list {
  padding-top: 1.2rem; }
  .nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav-list-item {
    border-bottom: 2px solid rgba(48, 52, 63, 0.6);
    line-height: 2.5; }
  .nav-list-link {
    text-decoration: none; }
    .nav-list-link:visited {
      text-decoration: none; }
    .nav-list-link:hover, .nav-list-link:active {
      color: #30343F;
      text-decoration: none; }

.section-portfolio {
  margin-top: 6rem;
  background: #fafcfb;
  padding-bottom: 3rem; }

.portfolio-img {
  margin-top: -4rem; }
  @media (max-width: 33.75em) {
    .portfolio-img {
      margin-top: 0; } }

.portfolio-description {
  padding: 2rem; }
  .portfolio-description-title {
    font-size: 1.5rem;
    color: #abcbbf;
    font-family: 'Montserrat', sans-serif; }
  .portfolio-description-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem; }
  .portfolio-description p {
    color: #558975; }

.section-introduction {
  width: 100%;
  position: absolute;
  top: 30%; }

.intro {
  text-align: center; }
  .intro-title {
    color: #FFE6A7;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 2.2rem;
    line-height: 1.5; }
    .intro-title:after {
      content: ' ';
      width: 20%;
      height: 5px;
      display: block;
      margin: 1rem 0;
      background: #EAF2EF; }
  .intro-des {
    font-family: 'Roboto Slab', serif;
    color: #EAF2EF; }
  .intro-nav {
    transform: rotate(270deg);
    display: block;
    text-transform: uppercase;
    margin-top: 4rem;
    color: white;
    font-weight: 500;
    letter-spacing: 2px; }
    @media (max-width: 75em) {
      .intro-nav {
        margin-top: 8rem; } }
  .intro-number {
    font-size: 4.4rem;
    color: #EAF2EF;
    font-weight: 600;
    letter-spacing: 5px;
    display: block;
    text-align: center; }
    .intro-number:after {
      content: ' ';
      display: block;
      margin: 0 auto;
      width: 4px;
      height: 5rem;
      background: #EAF2EF; }

.section-testonomial {
  padding: 4rem 0;
  background: linear-gradient(to right bottom, #CE0060, rgba(251, 255, 18, 0.4)); }

.testonomial {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 77%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 77%, 0 100%, 0 0);
  background: white; }
  .testonomial-icon {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0;
    display: block;
    color: #CE0060; }
  .testonomial-card {
    position: relative; }
  .testonomial-text {
    padding: 0 1rem 9rem 1rem; }
  .testonomial-user {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%); }
    .testonomial-user p {
      color: #3166AF;
      font-weight: 700;
      margin-bottom: 4px; }
    .testonomial-user span {
      text-align: center;
      display: block;
      font-weight: 700;
      color: #EAF2EF; }
  .testonomial-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }

.services-box {
  border-left: 4px solid rgba(234, 242, 239, 0.6);
  padding: 0 2rem;
  margin-top: 2rem;
  cursor: pointer; }
  .services-box i {
    color: #01295F; }
  .services-box:hover i {
    color: #89023E; }

.section-contact {
  margin-top: 4rem; }

.contact-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 2rem;
  grid-auto-rows: minmax(100px, auto); }
  .contact-box-icon {
    color: white;
    font-size: 3.5rem;
    padding: 1rem; }
  .contact-box-content h5 {
    color: white;
    letter-spacing: 2px; }
  .contact-box-content span {
    color: #EAF2EF;
    font-weight: 400;
    letter-spacing: 4px;
    font-style: italic; }
  .contact-box__1 {
    background: #477fcc; }
  .contact-box__2 {
    background: #3772c3; }
  .contact-box__3 {
    background: #336bb7; }

.footer {
  background: url("../img/footer.jpg");
  background-size: cover; }
  .footer-elements {
    padding: 1rem 0 10rem 0; }
  .footer-hire {
    font-weight: 300;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif; }
  .footer-email {
    margin-top: 1rem; }
    .footer-email:hover, .footer-email:active, .footer-email:visited, .footer-email:link {
      text-decoration: none;
      color: #30343F;
      background: #EAF2EF;
      display: inline-block;
      padding: 1rem;
      font-weight: 600;
      border-radius: 4px; }
    .footer-email:hover {
      transform: translate(-4px) scale(1.1);
      transition: all .4s;
      background: #01295F;
      color: white; }
  .footer-nav a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #3166AF; }

.timeline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .timeline-title {
    font-size: 2.5rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    color: #CE0060;
    margin: 2rem 0;
    transform: rotate(15deg); }
    .timeline-title span {
      font-size: 3rem;
      position: relative;
      margin-right: 5rem;
      color: #30343F;
      display: inline-block; }
      .timeline-title span:after {
        content: ' ';
        position: absolute;
        display: inline-block;
        top: 50%;
        width: 5rem;
        height: 4px;
        background: #EAF2EF;
        margin: 0 auto;
        margin-left: .5rem; }
  .timeline-panel__date {
    font-size: 2rem;
    color: black;
    font-weight: 700;
    letter-spacing: 2px; }
  .timeline-panel__title {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif; }
  .timeline-panel__des {
    color: #30343F; }
  .timeline-end {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #01295F;
    color: white;
    border: 10px solid #EAF2EF;
    position: relative; }
    .timeline-end p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600; }
  .timeline-img {
    position: relative; }
    .timeline-img img {
      border: 10px solid #EAF2EF;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      display: inline-block; }
    .timeline-img:after {
      content: ' ';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 10rem;
      left: 50%;
      display: flex;
      margin: 1rem 0;
      background: #EAF2EF;
      margin: 0 auto; }

.mycarousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .mycarousel-content h2 {
    color: white;
    letter-spacing: 3px;
    font-size: 3rem; }
  .mycarousel-content p {
    color: #EAF2EF;
    font-size: 1.1rem; }

.mycarousel-inner img {
  height: 100vh !important;
  filter: brightness(0.8);
  position: relative; }

.mycarousel-indicator {
  bottom: 0rem;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%; }
  @media (max-width: 33.75em) {
    .mycarousel-indicator {
      display: none; } }
  .mycarousel-indicator .active {
    background: rgba(234, 242, 239, 0.8);
    border-bottom: 4px solid #3166AF; }
  .mycarousel-indicator li {
    text-indent: 0;
    height: 100%;
    width: 100%;
    margin: 0; }
  .mycarousel-indicator-item {
    min-height: 10rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid #EAF2EF; }
