$color-grey-light-1:#f7f7f7;
$color-1:#160C28;
$color-2:#EAF2EF;
$color-white-1:#FFE6A7;
$color-3:#89023E;
$color-4:#30343F;
$color-5:#0A0F0D;
$color-6:#01295F;
$color-7:#CE0060;
$color-8:#3166AF;
$color-9:#04D25A;
$color-y:#FBFF12;


