.section-contact{
    margin-top:4rem;
}
.contact{

    
    &-box{
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        padding:2rem;
        grid-auto-rows: minmax(100px,auto);

        &-icon{
            color:white;
            font-size:3.5rem;
            padding:1rem;
        }

        &-content{
            h5{
                color:white;
                letter-spacing:2px;
            }
            span{
                color:$color-2;
                font-weight: 400;
                letter-spacing:4px;
                font-style: italic;
            }
        }


        &__1{
            background:lighten($color-8,10%);
        }
        &__2{
            background:lighten($color-8,5%);
        }
        &__3{
            background:lighten($color-8,2%);
        }
    }
}
