.section-portfolio{
    margin-top:6rem;
    background:lighten($color-2,5%);
    padding-bottom:3rem;
   
}

.portfolio{
    &-img{
        margin-top:-4rem;
        @include respond(phone){
            margin-top:0;
        }
    }

    &-description{
        padding:2rem;

        &-title{
            font-size:1.5rem;
            color:darken($color-2,20%);
            font-family: 'Montserrat', sans-serif;
        }
        &-sub{
            font-family: 'Roboto Slab', serif;
            font-size:1.8rem;
            
        }
        p{
            color:darken($color-2,50%);
        }
    }
}