.project{
    &-pills{
        font-size:1.08rem;
        font-weight:700;
        
        .active{
            background:none!important;
            color:$color-3!important;
            font-weight: 700;
            border:3px solid $color-3;
            border-radius: 100px;
        }
    }
    &-item{
        border:1px solid $color-3;
        border-radius: 100px;
        margin-right:1rem;
        min-width:100px;
        text-align:center;
        margin-bottom:1rem;
    }
    &-card{

        background-position: top;
        height:400px;
        transition: 5s;
        position: relative;
        cursor:pointer;
        border-radius: 0;
        border:0;
        margin-bottom: 3rem;

        p{
            position: absolute;
            bottom: 0%;
            left:0;
            
            text-align:center;
            background:$color-6;
            color:white;
            width:70%;
            margin-bottom: 0;
            padding:1rem 0;
            font-family: 'Montserrat', sans-serif;
        }



        &__1{
            background:url('../img/natours.png');
            background-size: cover;
            width:100%;
        }
        &__2{
            background:url('../img/vnhssweb.png');
            background-size: cover;
            width:100%;
        }
        &__3{
            background:url('../img/amejman.png');
            background-size: cover;
            width:100%;
        }

        &__4{
            background:url('../img/mban.png');
            background-size: cover;
            width:100%;
        }
        &__5{
            background:url('../img/nmicro.png');
            background-size: cover;
            width:100%;
        }

        &__6{
            background:url('../img/login.png');
            background-size: cover;
            width:100%;
        }

        &__7{
            background:url('../img/dashboard.png');
            background-size: cover;
            width:100%;
        }

        &__8{
            background:url('../img/qtfuel.png');
            background-size: cover;
            width:100%;
        }

        &:hover{
            background-position: bottom;
        }
    }
}