
.line-heading{
    display:flex!important;
    width:100%;
    align-items: center;

}
.line-heading::before,.line-heading::after{
    content:'';
    background:gray;
    height:1px;
    margin:.2em;
    flex:2;
}